<div class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li class="nav-label"><a href="/dashboard">Dashboard</a></li>
                <!-- <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Categories <span class="label label-rouded label-primary pull-right">2</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/categories">List </a></li>
                        <li><a href="index1.html">Analytics </a></li>
                    </ul>
                </li>-->

                
                <li class="nav-label"><a href="/papers">Papers </a></li>
                <li class="nav-label"><a href="/questions">Questions </a></li>
                <li class="nav-label"><a href="/users">Users </a></li>
               
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</div>