<div class="row">
    <div class="col-lg-12">
        <div class="card card-outline-primary">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Edit Paper</h4>
            </div>
            <div class="card-body">
                <form id="addPaper"  action="/paper/update" method="POST">
                    <div class="form-body">
                        <h3 class="card-title m-t-15">Paper Info</h3>
                        <hr>
                         <!--row-->
                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Title</label>
                                    <input type="text" name="title" id="title" class="form-control" placeholder="Title" value="<%=paper.title%>"/>
                                    <small class="form-control-feedback"> this is paper title </small> </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group has-danger">
                                    <label class="control-label">Subject</label>
                                    <input type="text" name="subject" id="subject" class="form-control form-control-danger" placeholder="Subject" value="<%=paper.subject%>"/>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        
                         <!--row-->
                         <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Description</label>
                                    <textarea name="description" id="description" cols="60" rows="4"><%=paper.description%></textarea>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group has-danger">&nbsp;</div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                    </div>
                    <div class="form-actions">
                        <input type="hidden" name="id"  value="<%= paper.id %>"/>
                        <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Update</button>
                        <a href="/papers"><button type="button" class="btn btn-inverse">Cancel</button></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

