<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Customer List</h4>
                <h6 class="card-subtitle">Data table example</h6>
                <div class="table-responsive m-t-40">                    
                    <table id="myTable" class="table table-bordered table-striped users-table">
                        <thead>
                            <tr>
                              <th>First Name</th>
                              <th>Last Name</th>
                              <th>Email</th>
                              <th>Address</th>
                            </tr>
                          </thead>
                          <tfoot>
                            <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Address</th>
                            </tr>
                          </tfoot>
                          <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
  </div>
</div>

<link
rel="stylesheet"
type="text/css"
href="//cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.18/datatables.min.css"
/>
<script
type="text/javascript"
src="//cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.18/datatables.min.js"
></script>
<script
src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
crossorigin="anonymous"
></script>
<script>
$(document).ready(function() {
  $(".users-table").DataTable({
    scrollY: 400,
    processing: true,
    serverSide: true,
    ajax: "/customers/data"
  });
});
</script>